.app-header {
    button {
        margin: 0 16px;
    }

    .spacer {
        flex: 1 1 auto;
    }

    .mat-toolbar {
        background-color: black;
        color: white;
        padding: 0 220px;
    }

    .custom-button {
        background-color: #6750A4 !important;
        color: white !important;
    }

    .login {
        color: #6750A4 !important;
        border: 1px solid rgba(255, 255, 255, 0.512) !important;
    }
}