<footer class="app-footer">
    <app-container class="container">
        <div>
            <ul class="list">
                <li>
                    <img src="assets/imagens/logo-com-tagline.png" alt="Logo da Jornada Milhas">
                </li>
                <li>
                    Horário de atendimento: 08h - 20h (Segunda a Sábado)
                </li>
                <li>
                    Desenvolvido por Alura. Projeto fictício sem fins comerciais.
                </li>
            </ul>
        </div>
        <div class="socials">
            <p class="social">Acesse nossas redes:</p>
            <div class="icons">
                <button mat-icon-button>
                    <img src="assets/icones/whatsapp.png" alt="Ícone WhastApp">
                </button>
                <button mat-icon-button>
                    <img src="assets/icones/instagram.png" alt="Ícone Instagram">
                </button>
                <button mat-icon-button>
                    <img src="assets/icones/twitter.png" alt="Ícone Twitter">
                </button>
            </div>
        </div>
    </app-container>
</footer>